<footer>
  <div class = "pcFooter">
    <div class = "pcFooter__footer">
      <div class = "pcFooter__footer__content">
        <div class = "pcFooter__footer__content__left">
          <ul>
            <li><%= link_to "製作者概要", '#', class: "pcFooter__footer__content__left__list" %></li>
            <li><%= link_to "制作概要", '#', class: "pcFooter__footer__content__left__list" %></li>
            <li><%= link_to "実装機能・課題", '#', class: "pcFooter__footer__content__left__list" %></li>
          </ul>
        </div>
        <div class = "pcFooter__footer__content__center">
          <ul>
            <li><%= link_to "コーディネート一覧", coordinates_path, class: "pcFooter__footer__content__center__list" %></li>
            <li><%= link_to "ユーザー一覧", '#', class: "pcFooter__footer__content__center__list" %></li>
            <li><%= link_to "アイテム一覧", items_path, class: "pcFooter__footer__content__center__list" %></li>
            <li><%= link_to "ブランド一覧", '#', class: "pcFooter__footer__content__center__list" %></li>
            <li><%= link_to "カテゴリー一覧", '#', class: "pcFooter__footer__content__center__list" %></li>
          </ul>
        </div>
        <div class = "pcFooter__footer__content__right">
          <ul>
            <li><%= link_to "コーディネートランキング", '#', class: "pcFooter__footer__content__right__list" %></li>
            <li><%= link_to "ユーザーランキング", '#', class: "pcFooter__footer__content__right__list" %></li>
            <li><%= link_to "トレンドキーワード", '#', class: "pcFooter__footer__content__right__list" %></li>
            <li><%= link_to "髪型別コーデ検索", '#', class: "pcFooter__footer__content__right__list" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "pcFooter__footerLogo">
      服は人を変えられる
      <%# <%= link_to "お知らせ", '#' %>
      <%# %a(href="#") %>
        <%# = image_tag 'logo-white.png', height: '100%', width: '100%', alt: 'logo' %>
    </div>
    <p>© Fashion Book</p>
  </div>
</footer>