<div class="content__user">
  <div class="content__user__top">
  <% breadcrumb :address_in %>
  <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  <div class="content__user__body">
    <div class="content__user__body__left">
      <h2>住所情報登録</h2>
    </div>

    <div class="content__user__body__right">
      <%= form_for(@address) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "件のエラーにより") %> 保存できませんでした。</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%# <%= render "devise/shared/error_messages", resource: @address %>

          <div class="field__name">
            <%= f.label :姓名（漢字 %>
            <%= f.text_field :family_name, placeholder: "漢字姓", class: "field__name__family" %>
            <%= f.text_field :first_name, placeholder: "漢字名", class: "field__name__first" %>
          </div>

          <div class="field__kana">
            <%= f.label :姓名（カナ） %>
            <%= f.text_field :family_name_kana, placeholder: "カナ姓", class: "field__kana__family" %>
            <%= f.text_field :first_name_kana, placeholder: "カナ名", class: "field__kana__first" %>
          </div>

          <div class="field__prefecture">
            <%= f.label :prefecture_id, "都道府県" %>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "", class: "field__prefecture__select-box" %>
          </div>

          <div class="field__zipcode">
            <%= f.label :zip_code %><br />
            <%= f.text_field :zip_code, placeholder: "郵便番号" %>
          </div>

          <div class="field__municipality">
            <%= f.label :municipality %><br />
            <%= f.text_field :municipality, placeholder: "市区町村" %>
          </div>

          <div class="field__address">
            <%= f.label :address %><br />
            <%= f.text_field :address, placeholder: "番地" %>
          </div>

          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        </div>
      <% end %>
      <div class="session">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>