<!-- コメント内容(２件) ------------------------------------------------------------------>
<div class="comment__area__count">
  <div class="comment__area__count__count"><%= comments.count %>件コメント</div>
  <div class="comment__area__count__more", id='more_link' data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</div>
</div>
<div class="comment__area__container">
  <% comments.each do |comment| %>
    <% if comment.user_id == current_user.id %>
      <% unless comment.id.nil? %>
        <li class="comment__area__container__current">
          <div class="comment__area__container__current__box">
            <div class="comment__area__container__current__box__avatar">
              <%# <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>  
            </div>
            <div class="comment__area__container__current__box__text">
              <%= link_to "#{comment.user.nickname}", user_path(comment.user.id), class: "comment__area__container__current__box__text__name" %>
              <span class="comment__area__container__current__box__text__date pull-right">
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </span>
              <% if comment.user == current_user %>
                <%= link_to coordinate_comment_path(comment.coordinate_id, comment.id), method: :delete, remote: true, data: { confirm: '本当に削除しますか?' }, class: "comment__area__container__current__box__text__destroy" do %>
                  <%= link_to coordinate_comment_path(comment.coordinate_id, comment.id), method: :delete, remote: true, class: "comment__area__container__current__box__text__destroy" do %> 
                    <i class="fa fa-trash" style="color: black;"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="comment__area__container__current__box__entry">
              <%= comment.content %>
            </div>
          </div>
        </li>
      <% end %>
    <% else %>
      <% unless comment.id.nil? %>
        <li class="comment__area__container__current">
          <div class="comment__area__container__current__box">
            <div class="comment__area__container__current__box__avatar">
              <%# <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>  
            </div>
            <div class="comment__area__container__current__box__text">
              <%= link_to "#{comment.user.nickname}", user_path(comment.user.id), class: "comment__area__container__current__box__text__name" %>
              <span class="comment__area__container__current__box__text__date pull-right">
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </span>
              <% if comment.user == current_user %>
                <%= link_to coordinate_comment_path(comment.coordinate_id, comment.id), method: :delete, remote: true, data: { confirm: '本当に削除しますか?' }, class: "comment__area__container__current__box__text__destroy" do %>
                  <%= link_to coordinate_comment_path(comment.coordinate_id, comment.id), method: :delete, remote: true, class: "comment__area__container__current__box__text__destroy" do %> 
                    <i class="fa fa-trash" style="color: black;"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="comment__area__container__current__box__entry">
              <%= comment.content %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</div>