<div class="contents__coordinate__index__right__list__tag">
  <div class="contents__coordinate__index__right__list__tag__image">
    <% if coordinate.image.present? %>
      <%= image_tag "#{coordinate.image }", height: "280px" %>
    <% else %>
      <%=image_tag "/Unknown.png", height: "280px" %>
    <% end %>
    <div class="contents__coordinate__index__right__list__tag__image__time">
      <%= coordinate.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <div class="contents__coordinate__index__right__list__tag__middle">
    <div class="contents__coordinate__index__right__list__tag__middle__okini">
      <%= link_to "お気に入り", coordinate_path(coordinate.id), class: "contents__coordinate__index__right__list__tag__middle__okini" %>
      <%= Bookmark.where(coordinate_id: coordinate[:id]).count %>
    </div> 
    <div class="contents__coordinate__index__right__list__tag__middle__like">
      <%= link_to image_tag('/iconmonstr-heart-thin.png', height:'15px', width:'15px'), coordinate_path(coordinate.id) %>
      <%= Like.where(coordinate_id: coordinate[:id]).count %>
    </div>
  </div>
  <div class="contents__coordinate__index__right__list__tag__low">
    <span>ユーザーネーム：</span>
    <%= link_to coordinate.user.nickname, coordinate_path(coordinate.id), class: "contents__coordinate__index__right__list__tag__low__nickname" %>
    <div class="contents__coordinate__index__right__list__tag__low__height">
      <%= coordinate.height.name %>
    </div>
  </div>
</div>