<div class="content__mypage__right__history__list">
  <div class="content__mypage__right__history__list__image">
    <% if history.coordinate.image.present? %>
      <%= image_tag "#{history.coordinate.image }", height: "280px" %>
    <% else %>
      <%= image_tag "/Unknown.png", height: "280px" %>
    <% end %>
    <div class="content__mypage__right__history__list__image__time">
      <%= history.coordinate.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <div class="content__mypage__right__history__list__middle">
    <div class="content__mypage__right__history__list__middle__okini">
      <%= link_to "お気に入り", coordinate_path(history.coordinate.id), class: "content__mypage__right__history__list__middle__okini" %>
      <%= Bookmark.where(coordinate_id: history.coordinate[:id]).count %>
    </div> 
    <div class="content__mypage__right__history__list__middle__like">
      <%= link_to image_tag('/iconmonstr-heart-thin.png', height:'15px', width:'15px'), coordinate_path(history.coordinate.id) %>
      <%= Like.where(coordinate_id: history.coordinate[:id]).count %>
    </div>
  </div>
  <div class="content__mypage__right__history__list__low">
    <span>ユーザーネーム：</span>
    <%= link_to history.coordinate.user.nickname, coordinate_path(history.coordinate.id), class: "content__mypage__right__history__list__low__nickname" %>
    <div class="content__mypage__right__history__list__low__height">
      <%= history.coordinate.height.name %>
    </div>
  </div>
</div>