<header>
  <div class ="header">
    <div class="header__item">
      <div class="header__item__show">
        <div class="header__item__show__title">
          <%= link_to "Fashion Book", '/', class: "header__item__show__title__main" %>
          <div class="header__item__show__title__sub">毎日の服選びをおしゃれで楽に</div>
        </div>
        <div class = "header__item__show__lists">
          <% if user_signed_in? && current_user.id == @coordinate.user_id %>
            <div class="header__item__show__lists__list">
              <%= link_to '戻る', coordinate_path(@coordinate.id), class: "header__item__show__lists__list__back" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="contents">
  <div class="contents__coordinate">
    <div class="contents__coordinate__title">
      <h2>コーディネート登録</h2>
    </div>
    <div class="contents__coordinate__edit">
    <%= form_with(model: @coordinate, class: :form, local: true) do |form| %>
      <% if @coordinate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@coordinate.errors.count, "件のエラーにより") %> この投稿は保存できませんでした。</h2>
          <ul>
            <% @coordinate.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="contents__coordinate__edit__image">
        <%= form.label :image, 'コーディネート画像(画像をもう一度選択してください)' %>
        <%= form.file_field :image, class: :contents__coordinate__edit__image__select, id: "image-form" %>
        <div id="file"></div>
      </div>

      <div class="contents__coordinate__edit__name">
        <%= form.label :name, 'コーディネート名' %>
        <%= form.text_area :name, placeholder: :コーディネート名50文字まで, class: :form__name2 %>
      </div>

      <div class="contents__coordinate__edit__introduction">
        <%= form.label :introduction, 'コーディネート詳細' %>
        <%= form.text_area :introduction, placeholder: :'コーディネート紹介文(2000文字以内)', class: 'form__introduction2 js-text' %>
        <P class="js_text_count"></P>
      </div>

      <div class="contents__coordinate__edit__gender">
        <%= form.label :gender_id, '性別' %>
        <%= form.collection_select :gender_id, Gender.all, :id, :name, {prompt: "選択してください"}, {class: "form__gender"} %>
      </div>

      <div class="contents__coordinate__edit__height">
        <%= form.label :height_id, '身長' %>
        <%= form.collection_select :height_id, Height.all, :id, :name, {prompt: "選択してください"}, {class: "form__height"} %>
      </div>

      <div class="contents__coordinate__edit__age">
        <%= form.label :age_id, '年齢' %>
        <%= form.collection_select :age_id, Age.all, :id, :name, {prompt: "選択してください"}, {class: "form__age"} %>
      </div>

      <div class="contents__coordinate__edit__month">
        <%= form.label :month_id, '投稿月' %>
        <%= form.collection_select :month_id, Month.all, :id, :name, {prompt: "選択してください"}, {class: "form__month"} %>
      </div>

      <div class="contents__coordinate__edit__hairstyle">
        <%= form.label :hairstyle_id, '髪型' %>
        <%= form.collection_select :hairstyle_id, Hairstyle.all, :id, :name, {prompt: "選択してください"}, {class: "form__hairstyle"} %>
      </div>

      <div class="contents__coordinate__edit__actions">
        <%= form.submit '更新', class: :form__btn %>
      </div>  
    </div>
    <% end %>
  </div>
</div>
<%= render partial: 'top/footer' %>