<div class="contents__item__index__right__list__tag">
  <div class="contents__item__index__right__list__tag__image">
    <% if item.image.present? %>
      <%= image_tag "#{item.image }", height: "280px" %>
    <% else %>
      <%=image_tag "/Unknown.png", height: "280px" %>
    <% end %>
    <div class="contents__item__index__right__list__tag__image__price">
      ￥<%= item.price %>
    </div>
  </div>
  <div class="contents__item__index__right__list__tag__low">
    <div class="contents__item__index__right__list__tag__low__brand">
      <span>ブランド：</span>
      <%= item.brand.name %>
    </div>
    <%= link_to item.name, item_path(item.id), class: "contents__item__index__right__list__tag__low__name" %>
  </div>
</div>
  

<%# <%= render partial: 'likes/nolike', locals: { post: post, posts: @posts, likes: @likes, like: @like } %>
