<header>
  <div class ="pcHeader">
    <div class="pcHeader__headerInner">
      <div class="pcHeader__headerInner__mainHeader">
        <div class="pcHeader__headerInner__mainHeader__title">
          <%= link_to "Fashion Book", '/', class: "pcHeader__headerInner__mainHeader__title__main" %>
          <div class="pcHeader__headerInner__mainHeader__title__sub">毎日の服選びをおしゃれで楽に</div>
        </div>
      </div>
    </div>
  </div>
</header>
<% breadcrumb :index_item %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="contents">
  <div class="contents__item">
    <div class="contents__item__index">
      <div class="contents__item__index__left">
        <ul class="contents__item__index__left__side">
          <li class="contents__item__index__left__side__list">
          <%= link_to 'マイページ', user_path(current_user.id), class: "contents__item__index__left__side__list__menu" %>
            <ul>
              <li>
                <%= link_to items_path, class: "contents__item__index__left__side__list__menu__tag" do %>
                  アイテム一覧<%= fa_icon("angle-right") %>
                <% end %>
              </li>
              <li>
                <%= link_to new_item_path, class: "contents__item__index__left__side__list__menu__tag" do %>
                  アイテム登録<%= fa_icon("angle-right") %>
                <% end %>
              </li>
            </ul>
            <h2 class="contents__item__index__left__side__list__menu">ブランド</h2>
            <div class="contents__item__index__left__side__list__menu">季節<br>
              <% @seasons.each do |season| %>
                <%= link_to "#{season.name}", season_items_path, class: "contents__item__index__left__side__list__category__tag" %>
              <% end %>
            </div>
            <div class="contents__item__index__left__side__list__menu">カラー<br>
              <% @colors.each do |color| %>
                <%= link_to "#{color.name}", color_items_path, class: "contents__item__index__left__side__list__category__tag" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="contents__item__index__right">
        <div class="contents__item__index__right__seach">
          <%=  @title %>アイテム一覧
        </div>
        <div class="contents__item__index__right__list">
          <% if @colors.present? %>
            <% @colors.each do |color| %>
              <% if user_signed_in? && current_user.id %>
                <%= render partial: "items/color", locals: { item: @item, items: @items, colors: @colors, color: color } %>
              <% end %>
            <% end %>
            <%= paginate(@colors) %>
          <% else %>
            <div class="content__mypage__right__history__no">カラーアイテムはありません</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'top/footer' %>